@{ 
    ViewBag.Usuario = "";
}
<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Sistema de reportes</title>
    <link href="~/Assets/css/bootstrap.css" rel="stylesheet" />
    <script src="~/Assets/js/bootstrap.min.js"></script>
    <script src="~/Assets/js/jquery.min.js"></script>
    <link href="~/Assets/css/colorlib-main.css" rel="stylesheet" />
    <link href="~/Assets/fonts/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Assets/css/util.css" rel="stylesheet" />
    <link href="~/Assets/css/material-design-iconic-font.min.css" rel="stylesheet" />

    <style type="text/css">
        .container {
            margin-top: 40px;
        }

        .btn-primary {
            width: 100%;
        }
    </style>

</head>
<body>
    <div class="container">
        
        @RenderBody()
        

        @*<h1 class="jumbotron">
            Segundo proyecto MVC
        </h1>

        <h4>Listado de configuraciones</h4>
        <div class="panel panel-primary">
            <div class="panel-heading">--</div>
            <div class="panel-body">
                <form>

                    @RenderBody()


                </form>
            </div>
        </div>*@
    </div>
    <footer class="text-center">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <p>Copyright © Club Campestre Cuscatlan. All rights reserved.</p>
                </div>
            </div>
        </div>
    </footer>
</body>
<script>
        

</script>
</html>

